<h1>VSMe Gaming</h1>

<%= link_to "Play Game", new_games_path, class: "btn" %>

<table class="table">
  <thead>
    <tr>
      <th>Game</th>
      <th>Score</th>
      <th>Wager</th>
      <th>Outcome</th>
    </tr>
  </thead>
  <tbody>
    <% @games.each do |game| %>
    <tr>
      <td>Pong</td>
      <td><%= game.score %></td>
      <td><%= game.credits_wagered %></td>
      <td>-</td>
    </tr>
    <% end %>
  </tbody>
</table>
