<div data-no-turbolink>
  <%= link_to "Play Game", new_game_path, class: "btn-main" %>
  <%= link_to "User Dashboard", games_path, class: "btn-main" %>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Leaders</th>
      <th>Wins</th>
    </tr>
  </thead>
  <tbody>
    <% @leaders.each do |leader| %>
      <tr>
        <td><%= leader.try(:user_name) || "(no name given)" %></td>
        <td><%= leader.wins %></td>
      </tr>
    <% end %>
  </tbody>
</table>


