<div class='hidden'>
  <%= form_for @game do |f| %>
    <%= f.number_field :score %>
    <%= f.submit "Submit", class: "btn" %>
  <% end %>
</div>

<style>
  #canvas {
  max-width: 500px;
  min-width: 225px;
  width: 100%;
  }
</style>

<div>
  <button id='start' class="btn">Play Snake!</button>
</div>

<div class="game">
  <canvas id='canvas'></canvas>
</div>
