<div class='hidden'>
  <%= form_for @game do |f| %>
    <%= f.number_field :score %>
    <%= f.submit "Submit", class: "btn" %>
  <% end %>
</div>

<div>
  <button id='start' class="btn">Play Snake!</button>
</div>

<div class="game">
  <canvas id='canvas' width='225px' height='225px'></canvas>
</div>

