<h1>Snake</h1>

<%= form_for @game do |f| %>
  <div>
    <%= f.label :score, "Enter a score" %>
    <%= f.number_field :score %>
  </div>

  <div>
    <%= f.submit "Submit", class: "btn" %>
  </div>

<% end %>

<div>
  <button id='start' class="btn">Start!</button>
</div>

<div>
  <canvas id='canvas' width='450' height='450'></canvas>
</div>
