<div class='hidden'>
  <%= form_for @game do |f| %>
    <%= f.number_field :score %>
    <%= f.submit "Submit", class: "btn" %>
  <% end %>
</div>

<div>
  <button id='start' class="btn">Play Snake!</button>
</div>

<div class="game">
  <canvas id='canvas' width='225' height='225'></canvas>
  <div class='controls'>
    <button id='left' class='control'>L</button>
    <button id='right' class='control'>R</button>
    <button id='up' class='control'>U</button>
    <button id='down' class='control'>D</button>
  </div>
</div>

