<h1>PONG!</h1>

<%= form_for @game do |f| %>
  <div>
    <%= f.label :score, "Enter a score" %>
    <%= f.number_field :score %>
  </div>

  <div>
    <%= f.submit "Submit", class: "btn" %>
  </div>

<% end %>

<canvas id="canvas"></canvas>
<audio preload="true" id="collide">
	<source src="http://dl.dropbox.com/u/26141789/canvas/pingpong/Metal%20Cling%20-%20Hit.mp3" />
	<source src="http://dl.dropbox.com/u/26141789/canvas/pingpong/Metal%20Cling%20-%20Hit.wav" />
</audio>
